<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" />
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <title>Import | Document Controller</title>
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
    <style>
        .nk-tb-item .nk-tb-col:first-child {
            padding-left: 10px;
        }

        .nk-tb-col:first-child {
            width: 30px;
            min-width: 30px;
            max-width: 30px;
        }

        .nk-tb-col:nth-child(2) {
            width: 350px;
            min-width: 350px;
            max-width: 350px;
        }

        .nk-tb-col:nth-child(4) {
            width: 300px;
            min-width: 300px;
            max-width: 300px;
        }

        .nk-tb-col:nth-child(5) {
            width: 350px;
            min-width: 350px;
            max-width: 350px;
        }

        .nk-tb-col {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px 15px;
            width: 170px;
            min-width: 170px;
            max-width: 170px;
        }

        tbody#failed_job_table tr:last-child td,
        tbody#failed_job_table tr:last-child th {
            border-bottom: 1px solid #dbdfea;
        }

        .failed-docs-wrapper {
            max-height: 400px;
            overflow: auto;
        }

        .disable {
            pointer-events: none;
            opacity: 0.8;
        }
    </style>
</head>

<body class="nk-body bg-lighter npc-general has-sidebar">
    <div class="nk-app-root">
        <div class="nk-main">
            <%- include('./common/sidebar' , {active : "Documents" }); -%>
                <div class="nk-wrap">
                    <%- include('./common/navbar'); -%>
                        <div class="nk-content">
                            <div class="container-fluid">
                                <div class="nk-content-inner">
                                    <div class="nk-content-body">
                                        <div class="nk-block-head nk-block-head-sm">
                                            <div class="nk-block-between">
                                                <div class="nk-block-head-content">
                                                    <h3 class="nk-block-title page-title">AI Import</h3>
                                                </div>
                                                <div class="nk-block-head-content">
                                                    <div class="toggle-wrap nk-block-tools-toggle">
                                                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                            data-target="pageMenu"><em
                                                                class="icon ni ni-menu-alt-r"></em></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nk-block nk-block-lg">
                                            <div class="card" id="card-1">
                                                <div class="card-inner">
                                                    <div class="card-head">
                                                        <h5 class="card-title">Upload Form</h5>
                                                    </div>
                                                    <form id="bulkForm" class="form-validate is-alter">
                                                        <div class="row g-4">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                        for="doc_site">Site</label>
                                                                    <div class="form-control-wrap">
                                                                        <select
                                                                            class="form-select form-control js-select2"
                                                                            id="doc_site" name="doc_site"
                                                                            data-placeholder="Select Site"
                                                                            data-search="on" required>
                                                                            <option label="empty" value=""></option>
                                                                            <% sites.forEach(function(site) { %>
                                                                                <option value="<%= site.site_name %>"
                                                                                    data-parent-id="<%= site.site_id %>">
                                                                                    <%= site.site_name %>
                                                                                </option>
                                                                                <% }); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                        for="doc_folder">Folder</label>
                                                                    <div class="form-control-wrap">
                                                                        <select
                                                                            class="form-select form-control js-select2"
                                                                            id="doc_folder" name="doc_folder"
                                                                            data-placeholder="Select Folder"
                                                                            data-search="on" required>
                                                                            <option label="empty" value=""></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="doc_file">Upload Zip
                                                                        File</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="file" accept=".zip,.rar,.pdf"
                                                                            class="form-control"
                                                                            placeholder="Upload File" id="doc_file"
                                                                            name="doc_file" required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <button id="uploadZipButton" type="submit"
                                                                        class="btn btn-primary">Upload File</button>

                                                                    <!-- <span id="progress-percentage" class="d-none"
                                                                        style="font-weight: bold; margin-left: 10px">0%</span> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="card d-none" id="card-2">
                                                <div class="card-inner">
                                                    <div class="card-head">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="card-title text-success">File Uploaded
                                                                    successfully</h5>
                                                            </div>
                                                            <div onclick="window.location.reload()" class="col-12 mt-4">
                                                                <button class="btn btn-primary">Refresh</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card d-none" id="card-3">
                                                <div class="card-inner">
                                                    <div class="card-head">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="card-title text-danger">File upload failed.
                                                                </h5>
                                                            </div>
                                                            <div onclick="window.location.reload()" class="col-12 mt-4">
                                                                <button class="btn btn-danger">Refresh</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- failed upload table -->
                                <div class="container-fluid p-4 mt-5" style="background-color: #fff">
                                    <div class="row">
                                        <div class="col">
                                            <h4>Failed Uploads</h4>
                                        </div>
                                        <div class="col text-end">
                                            <button id="clear-records" class="btn btn-dim btn-outline-primary">
                                                <em class="icon ni ni-reload-alt"></em>
                                                <span>Clear Records</span>
                                            </button>
                                            <button id="fetch-failed-records" class="btn btn-dim btn-outline-primary">
                                                <em class="icon ni ni-reload-alt"></em>
                                                <span>Fetch Failed Records</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="failed-docs-wrapper">
                                        <table class="table  mt-3">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Feed</th>
                                                    <th scope="col">File Name</th>
                                                    <th scope="col">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="failed_job_table">


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('./common/footer'); -%>
                </div>
        </div>
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1103.0.min.js"></script>

    <script>
        function toggleClassAndDisable(id, isHidden) {
            const element = document.getElementById(id);

            if (isHidden === "add") {
                // Add the 'disabled' class
                element.classList.add('disabled');
            } else {
                element.classList.remove('disabled');
            }
        }
        let folders = `<%- JSON.stringify(folders) %>`;
        let sites = `<%- JSON.stringify(sites) %>`;
        folders = folders ? JSON.parse(folders) : [];
        let config = `<%- JSON.stringify(config) %>`;
        config = JSON.parse(config);

        let token = `<%- JSON.stringify(token) %>`;
        token = token ? JSON.parse(token) : [];


        AWS.config.update({
            accessKeyId: config.keyId,
            secretAccessKey: config.accessKey,
            region: config.region,
        });
        const s3 = new AWS.S3();
        const bucketName = config.bucketName;
        const MAX_FILE_SIZE = 5 * 1024 * 1024 * 1024;

        $("#doc_site").on("change", function () {
            var selectedSiteParentId = $(this).find("option:selected").data("parent-id");
            var folderSelect = $("#doc_folder");
            folderSelect.val("");
            folderSelect.empty().append('<option label="empty" value=""></option>');
            folders.forEach(function (folder) {
                if (folder.site_parent_id == selectedSiteParentId) {
                    folderSelect.append('<option data-site-id="' + folder.site_id + '" value="' + folder.site_name + '">' + folder.site_name + "</option>");
                }
            });
        });
        $("#bulkForm").submit(function (event) {
            event.preventDefault();

            if (!this.checkValidity()) {
                return false;
            }

            const file = document.getElementById("doc_file").files[0];
            const fileExtension = file.name.split('.').filter(Boolean).slice(1).join('.')
            let fileName = `${Date.now()}${fileExtension === 'rar' ? '.rar' : '.zip'}`;
            const selectedFolderOption = $("#doc_folder").find("option:selected");
            const siteId = selectedFolderOption.data("site-id");

            const key = `uploads/${siteId}_${token.user_id}_${fileName}`;
            NioApp.handleButtonState("uploadZipButton", "Uploading...", true);
            toggleClassAndDisable("fetch-failed-records", "add")
            toggleClassAndDisable("clear-records", "add")
            if (file.name.endsWith(".pdf")) {
                let formData = new FormData(this);
                formData.append("siteId", siteId);
                formData.append("name", file.name)
                $.ajax({
                    type: "POST",
                    url: "/ai/process-single-file",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.status == 1) {
                            NioApp.Toast("<h5>Upload Success</h5><p>File Uploaded Successfully</p>", "success");
                            $("#card-2").removeClass("d-none");
                            $("#card-1").addClass("d-none");
                            toggleClassAndDisable("fetch-failed-records", "remove")
                            toggleClassAndDisable("clear-records", "remove")
                        } else {
                            console.error("Error uploading file:");
                            NioApp.handleButtonState("uploadZipButton", "Upload File", false);
                            NioApp.Toast(`<h5>Upload Failed</h5><p>${response.msg}</p>`, "error");
                            $("#card-3").removeClass("d-none");
                            $("#card-1").addClass("d-none");
                            toggleClassAndDisable("fetch-failed-records", "remove")
                            toggleClassAndDisable("clear-records", "remove")
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error uploading file:");
                        NioApp.handleButtonState("uploadZipButton", "Upload File", false);
                        NioApp.Toast("<h5>Upload Failed</h5><p>Error Uploading File</p>", "error");
                        toggleClassAndDisable("fetch-failed-records", "remove")
                        toggleClassAndDisable("clear-records", "remove")
                    },
                });

                return
            }

            const params = {
                Bucket: bucketName,
                Key: key,
                Body: file,
                CORSConfiguration: {
                    CORSRules: [
                        {
                            AllowedHeaders: ["*"],
                            AllowedMethods: ["GET", "POST", "PUT", "DELETE", "HEAD"],
                            AllowedOrigins: ["*"],
                            ExposeHeaders: ["ETag"],
                            MaxAgeSeconds: 3000,
                        },
                    ],
                },
            };
            s3.upload(params, function (err, data) {
                if (err) {
                    console.error("Error uploading file:", err);
                    NioApp.handleButtonState("uploadZipButton", "Upload File", false);
                    NioApp.Toast("<h5>Upload Failed</h5><p>Error Uploading File</p>", "error");
                    toggleClassAndDisable("fetch-failed-records", "remove")
                    toggleClassAndDisable("clear-records", "remove")
                } else {
                    $("#progress-percentage").addClass("d-none");
                    NioApp.Toast("<h5>Upload Success</h5><p>File Uploaded Successfully</p>", "success");
                    $("#card-2").removeClass("d-none");
                    $("#card-1").addClass("d-none");
                    toggleClassAndDisable("fetch-failed-records", "remove")
                    toggleClassAndDisable("clear-records", "remove")
                }
            }).on("httpUploadProgress", function (progress) {
                const percent = Math.round((progress.loaded / progress.total) * 100);
                $("#progress-percentage").removeClass("d-none").html(`${percent}%`);
            });
        });

        $("#clear-records").click(() => {
            const disablebtn = document.getElementById("clear-records")
            disablebtn.classList.add("disable")
            $.ajax({
                type: "POST",
                url: "/docs/clear-records/",
                data: "",
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log("🚀 ~ $ ~ response:", response)
                    if (response.status == 1) {
                        NioApp.Toast("<h5>Upload Success</h5><p>Records Cleared Successfully</p>", "success");
                        location.reload();
                    }
                },

                error: function (xhr, status, error) {

                },
            });

        })
        $("#fetch-failed-records").click(() => {
            location.reload();
        })

        function getFailedPdf() {
            $.ajax({
                type: "GET",
                url: "/docs/view-failed-uploads",
                processData: false,
                contentType: false,
                success: function (response) {
                    let innerHtml = " "
                    if (response.msg != null) {
                        response.msg.forEach((list, index) => {
                            const data = `<tr>
                            <th scope="row">${index ?? "-"}</th>
                            <td>${list.job_status || '-'}</td>
                            <td>${list.feed || "-"}</td>
                            <td>${list?.failed_pdf?.split("_")[1] || '-'}</td>
                            <td>${list.end_at.split(" ")[0] || "-"}</td>
                        </tr>`

                            innerHtml += data;
                        })
                        $("#failed_job_table").append(innerHtml);
                    } else {
                        const disablebtn = document.getElementById("clear-records")
                        disablebtn.classList.add("disable")
                        innerHtml = `
                        <tr>
                            <td colspan="5" >
                            <div class="text-center p-4">
                            <p>No Recent Activity</p>
                             </div>
                              </td>
                        </tr>`
                        $("#failed_job_table").append(innerHtml);

                    }


                },

                error: function (xhr, status, error) {

                },
            });
        }
        getFailedPdf()
    </script>
</body>

</html>