<div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-menu-trigger">
      <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
      <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
    </div>
    <div class="nk-sidebar-brand">
      <a href="/" class="logo-link nk-sidebar-logo">
        <img class="logo-light logo-img" src="/app/assets/images/logo.png" srcset="/app/assets/images/logo.png" alt="logo" />
        <img class="logo-dark logo-img" src="/app/assets/images/logo.png" srcset="/app/assets/images/logo.png" alt="logo-dark" />
      </a>
    </div>
  </div>

  <div class="nk-sidebar-element nk-sidebar-body">
    <div class="nk-sidebar-content">
      <div class="nk-sidebar-menu" data-simplebar>
        <% if (token.user_role == 0) { %>
          <ul class="nk-menu">
            <li class="nk-menu-heading">
              <h6 class="overline-title text-primary-alt">Dashboard</h6>
            </li>
            <li class="nk-menu-item <%= typeof active !== 'undefined' && active == 'Dashboard' ? 'active current-page' : '' %>"">
              <a href="/" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                <span class="nk-menu-text">Dashboard</span>
              </a>
            </li>
            <li class="nk-menu-item <%= typeof active !== 'undefined' && active == 'Documents' ? 'active current-page' : '' %>">
              <a href="/documents" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                <span class="nk-menu-text">Documents</span>
              </a>
            </li>
            <li class="nk-menu-item <%= typeof active !== 'undefined' && active == 'User' ? 'active current-page' : '' %>">
              <a href="/users" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                <span class="nk-menu-text">Users</span>
              </a>
            </li>
            <li class="nk-menu-item <%= typeof active !== 'undefined' && active == 'Sites' ? 'active current-page' : '' %>"">
              <a href="/sites" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-puzzle"></em></span>
                <span class="nk-menu-text">Sites</span>
              </a>
            </li>
          </ul>
          <%} else {%>
            <ul class="nk-menu">
              <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Dashboard</h6>
              </li>
              <li class="nk-menu-item <%= typeof active !== 'undefined' && active == 'Dashboard' ? 'active current-page' : '' %>"">
                <a href="/" class="nk-menu-link">
                  <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                  <span class="nk-menu-text">Dashboard</span>
                </a>
              </li>
              <li class="nk-menu-item <%= typeof active !== 'undefined' && active == 'Documents' ? 'active current-page' : '' %>">
                <a href="/documents" class="nk-menu-link">
                  <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                  <span class="nk-menu-text">Documents</span>
                </a>
              </li>
            </ul>
          <%}%>
      </div>
    </div>
  </div>
</div>
